.sachin-app {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.sachin-app .body {
  padding-top: 56px;
}

.Header {
  height: 56px;
  background-color: #333;
  justify-content: center;
}

.Header button {
  color: #C9C9C9;
}
.Header button:focus{
  color: #ffffff;
  text-decoration: none; 
}

.Header button:hover{
  color: #ffffff; 
  text-decoration: none; 
}

#overall {
  padding: 36px;
}

#overall .row {
  align-items: center;
  justify-content: center;
}
#overall #heading {
  padding-top: 56px;
  margin-bottom: 92px;
}

#odi {
  padding: 36px;
  align-items: center;
  justify-content: center;
}
#odi div {
  margin-bottom: 24px;
}
#odi #heading {
  padding-top: 56px;
  margin-bottom: 92px;
}

.line-series p{
  text-align: center;
}

.Banner {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
